* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*BODY*/
body {
  background-color: #f1f2f5;
  margin: 0;
  color: black;
}

/*HEADER*/
.header {
  max-height: 300px;
  padding: 20px;
  margin: auto;
  font-size: 20px;
  background-color: #A2A2A2;
}

.header-text {
  display: flex;
  align-items: center;
  max-width: 1100px;
  max-height: 300px;
  margin: auto;
}

/*TITLE*/
.title {
  max-width: 600px;
  padding: 0px 150px 0px 30px;
}

/*NAVIGATION MENU*/
nav {
  font-weight: bold;
  font-family: 'Archivo', sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 30px;
  margin: 2px;
  text-decoration: none;
  border-radius: 3px;

}

li a:hover {
  background-color: #6D6D6D;
  color: white;
}

li a:link {
  color: black;
}

li a:visited {
  color: black;
}

li a:active {
  color: white;
}

/*MAIN CONTAINER*/
.main-container {
  max-width: 1180px;
  max-height: 100%;
  margin: auto;
  position: relative;
  background-color: #ffffff;
  text-align: justify;
  line-height: 1.6;
}

/*INTRODUCTION*/
.introduction {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 20px 100px 20px;
  padding-top: 50px;
 }

.desc {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 10px solid white;
  border-radius: 35px;
  box-shadow: 0px 2px 20px 0px #000000e0;
  background-color: #6c5b5345;
  font-family: 'Karla', sans-serif;

}

.desc > h3 {
  text-align: center;
}

.img {
  max-width: 400px;
  margin: auto;
}

div img {
  width: 100%;
  border: 10px solid white;
  border-radius: 6%;
  box-shadow: 0px 2px 20px 0px #000000e0;
}

/*IMAGE CAROUSEL*/
.img-carousel {
  margin: 100px 20px;
  display: flex;
  align-items: center;
}

.slides {
  position: relative;
  max-width: 600px;
  margin: 30px;
}

.img-desc-container {
  margin: 40px;
  font-family: 'Karla', sans-serif;
}

.img-desc  {
  max-width: 300px;
  padding: 20px;
  margin: 50px;
  background-color: #6c5b5345;
  border: 3px solid grey;
  box-shadow: 0px 2px 20px 0px #000000e0;
  border-radius: 35px;
  border: 10px solid white;
}

.slideShowControls {
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slideShowBtn {
  cursor: pointer;
  opacity: 0.3;
  font-size: 18px;
  color: white;
  padding: 14px;
  user-select: none;
  transition: 0.6s ease;
}

.pause {
  border-radius: 5px 0 0 5px;
}

.play {
  border-radius: 0 5px 5px 0;
}

.prev, .next {
  position: absolute;
  top: 0%;
  width: auto;
  padding: 36% 20px;
  font-weight: bold;
  border-radius: 30px 3px 3px 30px;
}

.next {
  right: 0;
  border-radius: 3px 30px 30px 3px;
}

.prev:hover, .next:hover, .slideShowBtn:hover {
  background-color: rgba(0,0,0,0.4);
  color: white;
  opacity: 1;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*.slideshow_buttons{
  position: relative;
}

.slideshow_buttons > div {
  position: absolute;
  display: inline-block;
  margin-right: 100px;
}*/

.play .pause{
  display: inline-block;
  margin: 10px;
  position: absolute;
}

.pause {
  left: 250px;
  bottom: 50px;
}

.play {
  left: 335px;
  bottom: 50px;
}

/*LINKS*/
.links {
  margin: 100px 75px 60px 75px;
  padding-bottom: 45px;
  display: flex;
}

.links > div {
  width: 100px;
  margin: 0 11.6%;
  text-align: center;
}

.links img {
  border: 10px solid white;
  box-shadow: 0px 2px 20px 0px #000000e0;
  border-radius: 70px;
  opacity: 0.8;
}

.links span {
  position: relative;
  bottom: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  /*font-size: 18px;*/
  visibility: hidden;
}

.links div:hover img {
  opacity: 1;
  display: block;
}

.links div:hover .tooltip-text {
  color: #565555;
  cursor: pointer;
  visibility: visible;
}

.links div:active p {
  color: white;
}

.link-title {
  font-weight: bolder;
  position: relative;
  top: 10px;
}


/*FOOTER*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  background-color: #A2A2A2;
  color: white;
  text-align: center;
  height: 60px;
  z-index: 1;
  opacity: 0.5;
  display: none;
}

.footer:hover {
  opacity: 0.8;
}

.footer div {
  height: 100%;
  width: 100%;
}

.footer a {
  position: relative;
  top: 10px;
  height: 100%;
  width: 100%;
  text-decoration: none;
  user-select: none;
  padding: 10px 50% 25px 49%;
  font-size: 25px
}
.footer a:link {
  color: white;
}
.footer a:hover {
  cursor: pointer;
  background-color: #6D6D6D;
  color: white;
}

